// .inputgrid {
//     & .inputgrid-rows {
//         & tr {
//             & td:not(:nth-of-type(2)):not(last-of-type)  input{
//                 border-radius: 0 $border-radius-sm 0 0 !important;
//             }
//             & td:nth-of-type(2) input  {
//                 border-radius: $border-radius-sm 0 0 0 !important;
//             }
//             & td:last-of-type input {
//                 border-radius: 0 $border-radius-sm 0 0 !important;
//             }
//         }
//     }
// }

.inputgrid-col-header {
    pointer-events: none;
    border: none;
}


/*** Modal ***/
.react-modal-main{
    @extend .bordered-box;
    @extend .d-flex;
    @extend .flex-fill;
    @extend .justify-content-center;

    border-radius: 0rem;
    background-color: theme-color('bg');
}

.react-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    @extend .d-flex;
    @extend .align-items-center;
}

.react-modal-body {
    max-width: 500px;
}

.react-modal-content {
    // max-width: 500px;
}

.react-modal-footer {
    @extend .my-2;
}