$color-black-0 :#000;
$color-black-1 :#3C4043;
$color-black-2 :#5F6368;
$color-black-3 :#BDC1C6;
$color-black-4 :#F1F3F4;
$color-white : #FFF;

$color-blue :#004E60;
$color-blue-dark :#003e4c;
$color-blue-light : #32717f;

$color-green : #B7BF10;
$color-green-dark : #92980c;

$color-red:#B31412;
$color-red-dark:#940925;
$color-red-light:#c73c58;