altgraph==0.15
cheroot==6.0.0
CherryPy==14.0.1
click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
future==0.16.0
itsdangerous==0.24
Jinja2==2.10
macholib==1.9
MarkupSafe==1.0
more-itertools==4.1.0
Paste==2.0.3
pefile==2017.11.5
portend==2.2
PyInstaller==3.3.1
PyQt5==5.10.1
pytz==2018.3
sip==4.19.8
six==1.11.0
tempora==1.11
Werkzeug==0.14.1
