<div class="row p-2 my-2">
    <div class="col-10" id="section-top-left">
        <div id="warp">
            <div class="text-center bg-info text-white">
                <h5>W A R P</h5>
            </div>
            <div class="text-center" id="warp-grid-container">
            </div>
        </div>
        <div id="weft">
            <div class="text-center bg-info text-white">
                <h5>W E F T</h5>
            </div>
            <div class="text-center">
                <table class="m-auto" id="weft-grid">
                    <thead>
                        <tr>
                            <td><!--for remove icon--></td>
                            <% 
                            _(weft_cols).each((colname) => {%>
                            <td><%- colname %></td>
                            <% }) %>
                        </tr>
                    </thead>
                    <tbody>                    
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-sm border-0 rounded-0 grid-add" id="">
                                    <i class="la la-plus-square la-lg mr-1 text-success"></i>
                                </a>
                            </td>
                            <td class="text-left">
                                <a href="#" class="btn btn-sm border-0 rounded-0 grid-reset" id="" data-toggle="tooltip" title="Reset Grid">
                                    <i class="la la-retweet la-lg mr-1 text-danger"></i>
                                </a>
                                <a href="#" class="btn btn-sm border-0 rounded-0 grid-calc" id="" data-toggle="tooltip" title="Total">
                                    <i class="la la-calculator la-lg mr-1 text-primary"></i>
                                </a>                                
                            </td>
                        </tr>
                    </tfoot>                    
                </table>
            </div>
        </div>
    </div>
    <div class="col-2" id="section-top-right">
        <div class="text-center bg-info text-white">
            <h5>O T H E R S</h5>
        </div>
        <div class="form-group my-1">
            <label for="txt1"></label>Warp Weight</label>
            <input type="text" id="txt1" class="form-control form-control-sm rounded-0" readonly>
        </div>
        <div class="form-group my-1">
            <label for="txt1"></label>Warp Wt. with Wastage</label>
            <input type="text" id="txt1" class="form-control form-control-sm rounded-0" readonly>
        </div>
        <div class="form-group my-1">
            <label for="txt1"></label>Weft Weight</label>
            <input type="text" id="txt1" class="form-control form-control-sm rounded-0" readonly>
        </div>
        <div class="form-group my-1">
            <label for="txt1"></label>Weft Wt. with Wastage</label>
            <input type="text" id="txt1" class="form-control form-control-sm rounded-0" readonly>
        </div>
        <div class="form-group my-1">
            <label for="txt1"></label>Total Weight</label>
            <input type="text" id="txt1" class="form-control form-control-sm rounded-0" readonly>
        </div>
        <div class="form-group my-1">
            <label for="txt1"></label>Total Wt. with Wastage</label>
            <input type="text" id="txt1" class="form-control form-control-sm rounded-0" readonly>
        </div>
        <div class="form-group my-1">
            <label for="txt1"></label>Total Cost</label>
            <input type="text" id="txt1" class="form-control form-control-sm rounded-0" readonly>
        </div>
    </div>
</div>
<div id="section-bottom-1" class="p-2 my-2">
    <div class="text-center bg-info text-white">
        <h5>W A R P &nbsp;&nbsp; P A C K I N G</h5>
    </div>
    <div class="text-center">
        <table class="m-auto" id="weft-pack-grid">
            <thead>
                <tr>
                    <td><!--for remove icon--></td>
                    <% 
                    _(weft_cols).each((colname) => {%>
                    <td><%- colname %></td>
                    <% }) %>
                </tr>
            </thead>
            <tbody>                    
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a href="#" class="btn btn-sm border-0 rounded-0" id="grid-add">
                            <i class="la la-plus-square la-lg mr-1 text-success"></i>
                        </a>
                    </td>
                    <td class="text-left">
                        <a href="#" class="btn btn-sm border-0 rounded-0" id="grid-reset" data-toggle="tooltip" title="Reset Grid">
                            <i class="la la-retweet la-lg mr-1 text-danger"></i>
                        </a>
                        <a href="#" class="btn btn-sm border-0 rounded-0" id="grid-calc" data-toggle="tooltip" title="Total">
                            <i class="la la-calculator la-lg mr-1 text-primary"></i>
                        </a>                                
                    </td>
                </tr>
            </tfoot>                    
        </table>
    </div>
    <div class="text-left row">
        <div class="col-4">
            <a href="#" class="btn btn-sm border-0 rounded-0" id="grid-add">
                <i class="la la-plus-square la-lg mr-1 text-success"></i>
                <span></span>
            </a>
            <a href="#" class="btn btn-sm border-0 rounded-0" id="grid-reset" data-toggle="tooltip" title="Reset Grid">
                <i class="la la-retweet la-lg mr-1 text-danger"></i>
                <span></span>
            </a>
        </div>
        <div class="col-4 row">
            <div class="col-2">
                Cramp
            </div>
            <div class="col-8">
                <input type="text" id="crampTxt" class="form-control form-control-sm rounded-0" readonly>
            </div>
        </div>
    </div>
</div>
<div id="section-bottom-2" class="p-2 my-2">
    <div class="text-center bg-info text-white">
        <h5>R A T E S</h5>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="form-group my-1">
                <label for="txt1"></label>Rate Out Per</label>
                <input type="text" id="txt1" class="form-control form-control-sm rounded-0">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group my-1">
                <label for="txt1"></label>Rs.</label>
                <input type="text" id="txt1" class="form-control form-control-sm rounded-0" readonly>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group my-1">
                <label for="txt1"></label>Demanded Rate Out</label>
                <input type="text" id="txt1" class="form-control form-control-sm rounded-0">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group my-1">
                <label for="txt1"></label>Percentage %</label>
                <input type="text" id="txt1" class="form-control form-control-sm rounded-0 text-danger" value="0" readonly>
            </div>
        </div>
        <div class="col-1 text-right">
            <a href="#" class="btn btn-sm border-0 rounded-0" id="grid-reset" data-toggle="tooltip" title="Reset Textboxes">
                <i class="la la-retweet la-lg mr-1 text-danger"></i>
                <span></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="form-group my-1">
                <label for="txt1"></label>Rate Out Per</label>
                <input type="text" id="txt1" class="form-control form-control-sm rounded-0">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group my-1">
                <label for="txt1"></label>Rs.</label>
                <input type="text" id="txt1" class="form-control form-control-sm rounded-0" readonly>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group my-1">
                <label for="txt1"></label>Demanded Rate Out</label>
                <input type="text" id="txt1" class="form-control form-control-sm rounded-0">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group my-1">
                <label for="txt1"></label>Percentage %</label>
                <input type="text" id="txt1" class="form-control form-control-sm rounded-0 text-danger" value="0" readonly>
            </div>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-dark rounded-0" id="btn-save">
        <i class="la la-save la-lg mr-1"></i>Save
    </button>
    <button class="btn btn-dark rounded-0" id="btn-save-as">
        <i class="la la-save la-lg mr-1"></i>Save As Template
    </button>    
</div>
