<table class="m-auto textgrid" id="<%-grid_id%>">
    <thead>
        <tr class="border-bottom">
            <td><!--for remove icon--></td>
            <% 
            _(cols).each((colname) => {%>
            <!-- <td><%- colname %></td> -->
            <td>
                <input class="rounded-0 m-0 form-control form-control-sm border border-0 bg-white unselectable" value="<%-colname%>" readonly/>
            </td>
            <% }) %>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <a href="#" class="btn btn-sm border-0 rounded-0 grid-add" id="">
                    <i class="la la-plus-square la-lg mr-1 text-success"></i>
                </a>
            </td>
            <td class="text-left">
                <a href="#" class="btn btn-sm border-0 rounded-0 grid-reset" id="" data-toggle="tooltip" title="Reset Grid">
                    <i class="la la-retweet la-lg mr-1 text-danger"></i>
                </a>
                <a href="#" class="btn btn-sm border-0 rounded-0" id="grid-calc" data-toggle="tooltip" title="Total">
                    <i class="la la-calculator la-lg mr-1 text-primary"></i>
                </a>                                
            </td>
        </tr>
    </tfoot>
</table>