<table class="m-auto formulagrid" id="<%-gridId%>">
    <thead>
        <tr class="border-bottom">
            <td><!--for remove icon--></td>
            <% 
            _(columns).each((column, x) => {%>
            <td>
                <input class="rounded-0 mx-1 form-control form-control-sm border border-0 bg-white unselectable" 
                    value="<%-column.title%>" tabindex="-1" data-formula="<%-column.formula%>" readonly/>
            </td>
            <% }) %>
        </tr>
    </thead>
    <tbody class="formulagrid-rows">
    </tbody>
    <tfoot>
        <tr>
            <td>
                <a href="#" class="btn btn-sm border-0 rounded-0 formulagrid-add" id="">
                    <i class="la la-plus-square la-lg mr-1 text-success"></i>
                </a>
            </td>
            <td class="text-left">
                <a href="#" class="btn btn-sm border-0 rounded-0 formulagrid-reset" id="" data-toggle="tooltip" title="Reset Grid">
                    <i class="la la-retweet la-lg mr-1 text-danger"></i>
                </a>
                <a href="#" class="btn btn-sm border-0 rounded-0 formulagrid-calc" data-toggle="tooltip" title="Total">
                    <i class="la la-calculator la-lg mr-1 text-primary"></i>
                </a>                                
            </td>
        </tr>
    </tfoot>
</table>