$color-black:#646363;
$color-white : #FFF;

$color-blue :#72a6f0;
$color-blue-dark :#4b8de9;
$color-blue-light : #e9eff8;

$color-green : #2ecc71;
$color-green-dark : #27ac5e;
$color-green-light : #c9fcde;

$color-red:#e74c3c;
$color-red-dark:#cf2917;
$color-red-light:#f8cfca;