@import '~static/css/_colors.scss';

body {
    color: $color-black-0 !important;
}

.vertical-scrollbar {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background:$color-white; 
    }
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }    
}

.tab-pane {
    min-height: 90vh;
    max-height: 90vh;
    overflow-x: hidden;
    border: 0;
}

.loader {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    &.open {
        display: block;
        cursor: wait;
    }
    
    &-background {
        position: absolute;
        height: 100%;
        width: 100%;        
        background-color:$color-white;
        opacity: .5;
    }
    &-gif {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url('../img/loader.gif');
        background-repeat:  no-repeat;
        background-position: center;
        background-size: 50px 50px;
    }
}

.login-back {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23e9eff8' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");    
}

.ribbon-primary {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: $color-blue;
    background: none;
    color: $color-blue;
    padding: 0.25rem;
}

.btn-plain {
    background: $color-white;
    color: $color-black-2;
    border-radius: 1.1rem !important;
    &:hover {
        background: $color-black-4;
        color: $color-black-0;
    }
}

.btn-plain-noborder {
    color: $color-black-2;
    border:0px;
    &:hover {
        color: $color-black-0;
    }
}

button {
    border-radius: 1.1rem !important;
}

.btn-hide {
    display: none;
}

.main-top-nav {
    border-bottom: 1px !important;
    border-bottom-style: solid !important;
    border-color: $color-black-3 !important;
}