@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './line-awesome.css';


/* Modal overrides */
.modal-dialog {
    min-width:100%;
    margin:0;
}
.modal-body {
    overflow-y: auto;
}
.modal-content {
    max-height: 100vh;
}
.modal-footer {
    justify-content: initial;
}

.saved-item-list {
    min-height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
}

.text-red {
    color: #d9534f;
}
.text-blue {
    color: #428bca;
}
.text-green {
    color: #5cb85c;
}
.text-brown {
    color: #d87800;
}
.text-purple {
    color:#ab4fab;
}
.text-blue {
    color: #428bca;
}
.text-darkblue {
    color: #1d3461
}

.bg-darkblue {
    background: #1d3461;
}
.bg-purple {
    background:#ab4fab;
}

.text-20p {
    font-size: 1.2em;
}
.text-40p {
    font-size: 1.4em;
}
.text-60p {
    font-size: 1.6em;
}
.text-80p {
    font-size: 1.8em;
}
.text-2x {
    font-size: 2em;
}